*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--font-family-exo);
    font-size: var(--font-size-normal);
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-white);
}

section {
    display: flex;
    align-items: center;
    scroll-margin-top: 100px;
    overflow-y: auto;
}

a {
    text-decoration: none;
    display: block;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}

a {
    display: block;
}

img, svg{
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.main{
    margin-top: 64px;
}

.container {
    width: 100%;
    max-width: 1428px;
    margin: 0 auto;
    padding: 0 100px;
}

.button{
    padding: calc(var(--gap-space) / 2) var(--gap-space);
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid var(--color-white);
    border-radius: 10px;
    color: var(--color-white);
    font-family: var(--font-family-exo);
    transition: box-shadow .3s linear;
}

.button:hover{
    box-shadow: rgba(255, 0, 0, 1) 0 0 22px;
}
